<h2 class="title is-3">All set!</h2>
<p class="subtitle is-6">Your email address has been confirmed</p>
<a href="/login" class="button is-light is-fullwidth">
    <span class="icon is-small">
        <i class="fas fa-key"></i>
    </span>
    <span>Log in</span>
</a>