<h2 class="title is-3">See you again</h2>
<p class="subtitle is-6">You are now logged out</p>
<a href="/login" class="button is-light is-fullwidth">
    <span class="icon is-small">
        <i class="fas fa-key"></i>
    </span>
    <span>Log in again</span>
</a>