<!DOCTYPE html>
<html>

<head>
    <title>{{meta.title}} - {{meta.applicationName}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/bulma/bulma.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/vendor/genkan/app.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/brands.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/regular.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/solid.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.min.js"
        integrity="sha512-/WwtKR6NnHomLo0O4w9QKc1INTPEJs7ko6u2aBTA1paPldhPl8LtXsi7a35iEZ69+9P5dcgVNESG8hrP4Y2t3w=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js"
        integrity="sha512-7G7ueVi8m7Ldo2APeWMCoGjs4EjXDhJ20DrPglDQqy8fnxsFQZeJNtuQlTT0xoBQJzWRFp4+ikyMdzDOcW36kQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous"></script>
    <script src="/vendor/jquery-ui/jquery-ui.js"></script>
</head>

<body>
    <div class="logo-container is-vcentered">
        <div class="container has-text-centered">
            {{!-- <img class="logo" src="/static/logo.png"> --}}
            <h2 class="title is-3 has-text-centered">Genkan 玄関</h2>
        </div>
    </div>
    <section class="section">
        <div class="container box" id="main">
            {{{body}}}
        </div>
    </section>
</body>

<script src="/vendor/genkan/app.js"></script>
{{#if meta.path}}
<script src="/vendor/genkan/{{meta.path}}.js"></script>
{{/if}}

</html>