<!DOCTYPE html>
<html lang="en">

<head>
    <title>Genkan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bulma -->
    <link rel="stylesheet" href="/vendor/bulma/bulma.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- CSS Files-->
    <link rel="stylesheet" href="/vendor/genkan/app.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/brands.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/regular.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/solid.min.css">

    <!-- JQuery 3.5.1 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>

    <script src="../../vendor/genkan/passwordStrength.js"></script>

</head>

<body>
    <div class="logo-container is-vcentered">
        <div class="container has-text-centered">
            {{!-- <img class="logo" src="/static/logo.png"> --}}
            <h2 class="title is-3 has-text-centered">Genkan 玄関</h2>
        </div>
    </div>
    <section class="section">
        <div class="container box" id="main">
            {{{body}}}
        </div>
    </section>
</body>

</html>