<div class="dashboard-main">
    <h4 class="subtitle is-6 has-text-centered has-text-weight-bold">{{meta.applicationName}} Account Settings</h4>
    <span class="buttons">
        <a href="/u/change-password" class="button is-light is-fullwidth">Change Password</a>
        <a href="/u/change-email" class="button is-light is-fullwidth">Change Email</a>
        <a href="/logout" class="button is-danger is-fullwidth">Logout</a>
    </span>
</div>