<div id="dashboard-password">
    <p class="subtitle is-6 has-text-weight-bold has-text-centered">Change Password</p>
    <p>For security reasons, we will send you a password reset link to your email in order for you change your password.</p>
    <br>
    <p>By requesting for an email, you will be <b>logged out from all active sessions</b> including the one on this device.</p>
    <br>
    <button id="sendChangePasswordBtn" class="button is-primary is-fullwidth">
        <span class="icon is-small">
            <i class="fas fa-paper-plane"></i>
        </span>
        <span>Send email</span>
    </button>
    <hr>
    <div class="has-text-centered">
        <a class="has-text-primary" data-pjax='main' href="/"><i class="fas fa-long-arrow-alt-left"></i> Back</a>
    </div>
</div>

<div id="resetPasswordAck" style="display: none;">
    <h2 class="title is-3">Check your email</h2>
    <p>You will receive an email containing the
        a link to change password.</p>
</div>