<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <style>
        div.box {
            color: #334463;
            background: #fff;
            width: 23rem;
            padding: 1rem 2rem;
            border-radius: 8px;
            border: solid 2px #F4F5F7;
            margin: auto;
            margin-top: 8rem;
            font-family: 'Inter', sans-serif;
            letter-spacing: -0.03em;
            line-height: 1.8;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: 'Poppins', sans-serif;
        }

        .emailCode {
            background: #F4F5F7;
            padding: 5px 20px
        }

        .footer {
            font-family: 'Poppins', sans-serif;
            margin: auto;
            margin-top: 3rem;
            height: 60px;
            width: auto;
            user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            color:#334463
        }

        hr {
            border: #F4F5F7 solid 1px
        }

        p.disclaimer {
            color: #abb6cc
        }
    </style>
</head>

<body>
    <div class="box">
        <h1>Hello,</h1>
        <p>Please confirm your email address with the link below to activate your account.
        </p>
        <div class="emailCode">
            {{url}}
        </div>
        <br>
        <small>If you did not request for this email, you may ignore this.</small>
        <hr>
        <p class="disclaimer">This is a automated email.<br>The sender is unable to receive any replies.</p>
    </div>
    <center>
        <p class="footer">Powered by Genkan</p>
    </center>
</body>

</html>