<div id="login">
    <h4 class="subtitle is-6 has-text-centered has-text-weight-bold">Login to your account to continue</h4>
    <div id="emailConfirmed" class="notification is-success" style="display: none;">
        Your email has been verified.
    </div>
    <div id="badLogin" class="notification is-danger" style="display: none;">
        Email or password is invalid.
    </div>
    <form id="loginForm">
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input id="loginEmail" class="input" type="text" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input id="loginPassword" class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </div>
        </div>
        <div id="loginButton" class="buttons has-addons level-right">
            <button class="button is-primary is-fullwidth">Login&ensp;<i class="fas fa-arrow-right"></i></button>
        </div>
    </form>
    <hr>
    <div class="has-text-centered">
        <span>
            <a class="has-text-primary" data-pjax='main' href="./signup"><i class="fas fa-user-plus"></i>&ensp;Sign
                up</a>
            <span class="unselectable">&ensp;&bull;&ensp;</span>
            <a class="has-text-primary" data-pjax='main' href="./resetpassword"><i
                    class="fas fa-question-circle"></i>&ensp;Trouble logging in?</a>
        </span>
    </div>
</div>

<div id="emailConfirmation" style="display: none;">
    <h2 class="title is-3">Almost done!</h2>
    <p id="loginSuccessText" class="subtitle is-6">Please verify your email</p>
    <div id="tooFastEmail" class="notification is-danger" style="display: none;">
        Resending emails too quickly.
    </div>
    <p>We have sent to a verification link to <b id="emailSentTo"></b>. Please click on it to verify your
        account with your email.<br><br>Afterwards, you may start using your account.</p>
    <br>
    <button id="resendEmailButton" class="button is-light"><i class="fas fa-paper-plane"></i>&ensp;Resend Email</button>
</div>

<div id="accountSuspended" style="display: none;">
    <h2 class="title is-3">Account Suspended</h2>
    <p id="loginSuccessText" class="subtitle is-6">Unable to log you in</p>
    <p>Your account has been suspended by the site's administrator.</p>
    <small>Please contact the site's administrator for more information.</small>
</div>

<div id="authorised" style="display: none;">
    <h2 class="title is-3 has-text-centered">Verifying</h2>
    <p class="subtitle is-5 has-text-centered">Please wait</p>
</div>

{{!-- <div id="serverErr" class="columns is-vcentered" style="display: none">
    <div class="column">
        <section class="section">
            <div class="container box" id="main">
                <h2 class="title is-3 has-text-centered has-text-danger">Something broke!</h2>
                <p>There was a problem connecting to the server.</p>
                <small>If this issue persists, please contact the site administrator.</small>
            </div>
        </section>
    </div>
</div> --}}