<div id="otp">
    <h4 class="subtitle is-6 has-text-centered has-text-weight-bold">Enter your 6-digit OTP number</h4>
    <form action="POST">
        <div class="field is-grouped">
            <input name="otpInput" class="input" type="text" placeholder="6-digit OTP">
        </div>
        <button id="submitPhoneNumber" class="button is-primary is-fullwidth">
            Verify&ensp;<i class="fas fa-arrow-right"></i>
        </button>
    </form>
</div>