<div id="resetPassword">
    <p class="subtitle is-6 has-text-weight-bold has-text-centered">Change of Password</p>
    <div id="passwordNotValid" class="notification is-danger" style="display: none;">
        Password should consist of 8 or more characters.
    </div>
    <form id="resetPasswordForm">
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input id="password" class="input" type="password" placeholder="New Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>

                <div class="showPasswordContainer">
                    <small class="has-text-grey unselectable" id="showPassword" style="cursor: pointer;"><i
                            id="icon-showPassword" class="fas fa-eye-slash"></i>&ensp;<span id="showPasswordText">Hold
                            to
                            show
                            password</span></small>
                </div>
            </div>
        </div>
        <br>
        <button class="button is-primary is-fullwidth">
            <span>Continue&ensp;<i class="fas fa-arrow-right"></i></span>
        </button>
    </form>
    <hr>
    <div class="has-text-centered">
        <a class="has-text-danger" data-pjax='main' href="/login"><i class="fas fa-times"></i> Cancel</a>
    </div>
</div>

<div id="passwordResetDone" style="display: none;">
    <h2 class="title is-3">Password changed</h2>
    <p class="subtitle is-6">You may use your new password to login</p>
    <a href="/login" class="button is-light is-fullwidth">
        <span class="icon is-small">
            <i class="fas fa-key"></i>
        </span>
        <span>Log in</span>
    </a>
</div>