<div id="sms">
    <h4 class="subtitle is-6 has-text-centered has-text-weight-bold">Enter your phone number</h4>
    <form action="POST">
        <div class="field is-grouped">
            <!--<div class="select">
                <select>
                    <option>+65</option>
                    <option>+64</option>
                </select>
            </div>-->
            <input name="phoneNumber" class="input" type="tel" placeholder="Phone Number">
        </div>
        <button id="submitPhoneNumber" class="button is-primary is-fullwidth">
            Continue&ensp;<i class="fas fa-arrow-right"></i>
        </button>
    </form>
</div>